[submodule "qt_eagle_xml_parser"]
	path = qt_eagle_xml_parser
	url = https://github.com/martonmiklos/qt_eagle_xml_parser.git
[submodule "qmainwindow_with_recent_list"]
	path = qmainwindow_with_recent_list
	url = git@bitbucket.org:digitroll/qmainwindow_with_recent_list.git
[submodule "mpc"]
	path = mpc
	url = https://github.com/orangeduck/mpc.git
[submodule "sexpresso"]
	path = sexpresso
	url = https://github.com/BitPuffin/sexpresso.git
[submodule "vendor/de/skycoder42/qpathedit"]
	path = vendor/de/skycoder42/qpathedit
	url = git@github.com:Skycoder42/QPathEdit.git
[submodule "vendor/de/skycoder42/dialog-master"]
	path = vendor/de/skycoder42/dialog-master
	url = https://github.com/Skycoder42/DialogMaster.git
